*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

.calculator {
    width: 320px;
    background-color: #000;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

#display {
    padding: 20px 10px;
    text-align: right;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 80px;
    color: #fff;
    margin-bottom: 10px;
    height: 120px;
    line-height: 100px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    height: 70px; 
    border-radius: 50%;
    border: none;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    color: #fff;
    font-weight: 500;
}

.secondary-action {
    background-color: #a6a6a6;
    color: #000;
}

.operator {
    background-color: #ff9500;
}

.number, .decimal {
    background-color: #333333; 
}

.button.zero {
    grid-column: span 2;
    border-radius: 35px;
    justify-content: flex-start;
    padding-left: 25px;
}

.secondary-action:hover {
    background-color: #d1d1d1;
}

.operator:hover {
    background-color: #ffb75e;
}

.number:hover, .decimal:hover {
    background-color: #666666;
}